.contacto-contenedor{
   display: flex;
   justify-content: start;
   align-items: center; 
}

.contacto-titulo{
    margin-top: 1rem;
}
.contacto-contenedor-img{
   width: 40%;
   margin-right: 15px;
   max-width: 440px;
}

.contacto-img{
    width: 100%;
}

.contacto-contenedor-form{
    color: #ffffff;
    padding: 10px 0px 0px 0px;
    line-height: 2;
    text-align: left;
    width: 60%;
    max-width: 600px;
}
.contacto-form{
    padding-top: 15px;
}

.item-form{
    display: block;
    width: 91%;
    background: none;
    color: #c4c4c4;
}

.footer{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.25)), to(rgba(41,0,0,.75)));
    height: 14%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    color: #808080;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    line-height: 3;
}

.Copiright{
    margin: 0 auto;
}

.footer-contenedor-redes{
    width: 100%;
}

.footer-redes-lista{
    display: flex;
    justify-content: space-around;
}

.footer-red{
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    margin-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
    transition: .3s;
}

.portada-redes-items{
   text-align: center;
   font-style: italic;
   color: #b40000;
   font-family: sans-serif;
   transition: .3s;
}

#demo-final{
    bottom: 17%;
    left: 80%;
}
