@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

.sobre, .skills, .experiencia{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: black;
    justify-content: space-evenly;
}

.sobre-contenedor, .hobbies-contenedor, .skills-contenedor, .instruccion-contenedor{
    width: 100%;
    text-align: justify;
}

.titulo{
    font-size: 2.5vmax;
    font-weight: bold;
    color: #ff0000;
    padding: 0 0 1rem 1rem;
    text-shadow: 2px 2px 7px grey;
    font-size: calc(2vh + 1.1vw)
}


.sobre-descripcion{
    padding: 0 2rem 0 1rem;
    font-size: 1.5vmax;
    color: #979798;
    font-family: sans-serif;
}

.hobbies-lista{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}

.hobbies-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #979798;
    font-size: 1.5em;
    border: 2px solid #ff0000;
    border-radius: 9px;
    margin: 3px 15px;
    padding: 0 2rem;
    opacity: 0;
    transition: all 1.3s;
}
.hobbies-iconos{
    width: 15vw;
    max-width: 70px;
}

/*EFECTO*/

.mostrar-arriba{
    animation: mostrarArriba 1s;
}

@keyframes mostrarArriba{
    0%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(0);
    }
}
